@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100..1000&display=swap');

* {
    font-family: "DM Sans", sans-serif;
    &::-webkit-scrollbar-thumb {
    background-color: rgb(28, 85, 218);
}
    &::-webkit-scrollbar-track {
        background-color: transparent;
    }
    &::-webkit-scrollbar {
        width: 4px;
        height: 4px;
        background-color: transparent;
    }
}
h1{
  font-size: 27px;
}

h2{
  font-size: 24px;
}
body{
  color: #f2f2f2;
  background-image: linear-gradient(#92bcff,rgb(57, 125, 252));
}

.topnav{
  position: sticky;
}

.container{
  height: 100dvh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}


.gradient-container {
section{
  align-items: center;
  scroll-snap-align: start;
  height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Headers{
  margin: 10px;
  display: flex;
  justify-content: space-evenly;
  background-color: rebeccapurple;
  width: 80%;
  height: 10%;
  float: left;

  border-radius: 5pt;
  
  backdrop-filter: blur(9px) saturate(150%);
  box-shadow: inset 0 0 3px color-mix(in srgb, #fff 70%, transparent);
  background-color: color-mix(in srgb, #fff 12%, transparent);
  
  transition: 
    background-color 400ms 
      cubic-bezier(1, 0.0, 0.4, 1),
    box-shadow 400ms
      cubic-bezier(1, 0.0, 0.4, 1),
    transform 400ms cubic-bezier(1, 0.0, 0.4, 1),
    flex-grow 400ms cubic-bezier(1,0.0,0.4,1);
}
.Headers h1{
  text-align: center;

}
.Headers img{
  width: auto;
}
.Textbox {
  padding: 10px;
  margin: 10px;
  width: 90%;
  display: flex;

  border-radius: 5pt;
  
  backdrop-filter: blur(9px) saturate(150%);
  box-shadow: inset 0 0 3px color-mix(in srgb, #fff 70%, transparent);
  background-color: color-mix(in srgb, #fff 12%, transparent);
  
  transition: 
    background-color 400ms 
      cubic-bezier(1, 0.0, 0.4, 1),
    box-shadow 400ms
      cubic-bezier(1, 0.0, 0.4, 1),
    transform 400ms cubic-bezier(1, 0.0, 0.4, 1),
    flex-grow 400ms cubic-bezier(1,0.0,0.4,1);
}

.AboutMe{
  font: optional;
}
.MyProjects{
  font: optional;
}

.MyProjects div button{
  background-color: transparent;
  border: none;
  padding: 3%;
  color: #f2f2f2;
  text-align: center;
  font-size: 19px;
  font-weight: bolder;
  width: 100%;
}

.ContactMe{
  font: optional;
}